@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}
body{
    width: 100%;
    background-color: rgb(31, 30, 30);
}
.logo img{
    width: 63px;
    height: 47px;
}
.logo{
    flex:1;
    margin-left: 7vw;
}
nav{
    background: rgb(40, 40, 40);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: rgb(185, 184, 184);
}
nav a:hover{
    color:rgb(4, 0, 255);
}
.menu{
    margin-right: 10px;
    display: flex;
    align-items: center;
    list-style: none;

}
.menu li{
    padding:15px 25px;
    font-size: 15px; 
}
.menu li:hover{
    transform: scale(1.2); 
}
li span{
    color: rgb(4, 0, 255);
    
}
.toggle{
    font-size:30px;
    display: none;
}
.home{
    display:flex
}
.intro{
    width: 75vw;
    margin: 12vw;   
}
.intro p{
    font-size: 1.6vw;
    font-family: "Sono";
    color:rgb(60, 60, 255);
    
}
.intro h2{
    font-size: 3.5vw;
    color: rgb(205, 210, 225);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.7s steps(20, end) forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.intro h4{
    font-size: 3vw;
    color: rgb(175, 176, 184);
}
#desc{
    width: 40vw;
    margin-bottom: 5%;
}

#res{
    padding: 12px 25px;
    background:linear-gradient(to left,rgb(21, 8, 139), rgb(0, 0, 0));
    border-radius: 6px;
    color: aliceblue;
}

.intro a .btn:hover{
    transition: 50s;
}
.triangle {
    float: right;
    width: 500px;
    height: 700px;
    background: rgb(4, 0, 255) linear-gradient(rgb(21, 8, 139), rgb(0, 0, 0));
    clip-path: polygon(100% 0%, 0% 65%, 100% 100%);
}

.skills{
    display:flex;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 7%;
}
.modulo-wrap{
    width:300px;
    height: 300px;
    background-color: linear-gradient( to right ,rgb(0, 0, 0),rgb(16, 0, 156));
    padding: 3px;
    border-radius: px;
    background: linear-gradient(to left,rgb(21, 8, 139), rgb(19, 2, 2));
    
}
.flex-box{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100%;
}


/*about*/
.about-me{
    width: 100%;
}
.about{
    width: 70%;
    margin: auto;
}
.heading{
    font-size: 16px;
    color: rgb(170, 175, 189);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    width: 50%;
    height: 1.4px;
    margin:1%;
    background: rgb(60, 60, 255);
}
.num{
    font-family: "sono";
    color: rgb(60, 60, 255);
    font-size: 30px;
}
.descript{
    color: rgb(134, 136, 136);
    font-size: 1.5vw;
    margin: 5%;
}
.des-1{
    width: 90%;
    float:left;
    margin: 5%;

}
.des-2{
    width: 90%;
   margin: 5%;
}
.des-3{
    width: 90%;
    margin:5%;
}
/*Intrests*/
.intrest{
    width: 100%;
}
.my-intrests{
    width: 70%;
    margin: 10% 30%;
}
.vert-line{
    width: 1.4px;
    height: 18vw;
    margin:0%;
    background: rgb(60, 60, 255);
}
.skills-section{
    margin-top: 4%;
    display: flex;
    font-size:24px;
    color: rgb(134, 136, 136);
}
.skills ul li{
    font-size: 1.5vw;
    margin-bottom: 10%;
    list-style: none;
    font-family: "poppins";
    color: rgb(134, 136, 136);
}
.skills-desc{
    width: 30%;
    font-family: "poppins";
    font-size: 1.5vw;
}

.skills-desc h2{
    color: aliceblue;
}
.skills ul a li.active {
    padding: 5px 0px;
    text-align: center;
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(21, 8, 139), rgb(0, 0, 0));
    border-radius: 6px;
}
/*Experience*/
.experience{
    width: 100%;
}
.work-experience{
    width: 70%;
    margin: auto;
}
.content{
    margin:8%;
    font-size: 24px;
    color: rgb(134, 136, 136);
}
.content p{
    color: aliceblue;
    font-size: 22px;
    
}
.content ul{
    font-size: 1.5vw;
    margin-top: 5%;
    line-height: 3.5vw;
}
/*projects*/
.project{
    margin-top: 10%;
    width: 100%;
}
.projects{
    width: 70%;
    margin: auto;
}
.Project1,.Project2,.Project3{
    margin-top: 10%;
}
.container{
    display:flex;
    flex-direction: row;
    align-items:flex-end
}

.pro-desc{
    font-family: "poppins";
    color: rgb(158, 162, 172);
    width: 45vw;
    padding: 3vw;
    background:rgb(59, 59, 61);
    border-radius: 5px;
    margin-top: 5%;
    font-size: 1.5vw;
}
.right-cont{
    width:20vw;
    height: 13vw;
    margin-left: -5%;
    border-radius: 10px;
}
.right-cont img{
    width: 100%;
   height: 100%;
   border-radius: 10px;
}

.title{
    font-size: 1.5vw;
    color: rgb(169, 169, 164);
}
#project{
    color:rgb(90, 90, 246); 
    font-family: "poppins";
    font-size: 2vw;
}

.Project2{
    margin-top: 10%;
}
.pro_desc{
    color: rgb(158, 162, 172);
    width: 45vw;
    padding: 3vw;
    background:rgb(59, 59, 61);
    border-radius: 5px;
    margin-top: 5%;
    font-size: 1.5vw;
    margin-left: -5%;
}

.proj_photo{
    width:20vw;
    height: 13vw;
    border-radius: 10px;
    z-index: 1;
}
.proj_photo img{
    width: 100%;
   height: 100%;
   border-radius: 10px;

}
.proj_photo:hover{
    background-color: none;
    opacity: 1;
}
#im:hover{
    opacity: 1;
}
.tittle{
    float: right;
}
/*contact*/
div.contact{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.mail{
    padding: 5%;
    color:rgb(90, 90, 246); 
    font-family: "sono";
    font-size: 1.5vw;

}
#text{
    color: rgb(134, 137, 137);
}




/*common*/
.highlight{
    font-family: "sono";
    background-color: rgb(60, 60, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width:600px){
    nav{
        display:block;
        position:relative;
        padding:15px 20px;
    }
    .menu{
        margin-top:15px;
        display:none;
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top:15px;
        right:20px;
    }
}

/*TAB VIEW*/
@media (min-width:740px) and (max-width:1180px) {
    .pro-desc,.pro_desc{
        font-size: 1.5vw;
    }
    .triangle{
        width: 30vw;
        height: 60vw;
    }
}

/*PHONE VIEW*/
@media (min-width: 280px) and (max-width: 740px){
    .descript{
        font-size: 2.8vw;
    }
    .my-intrests{
        margin-left: 20%;
        text-align: center;
    }
    .skills,.skills-desc{
        font-size: 2.5vw;
    }
    .skills ul li{
        font-size: 2.5vw;
    }
    .skills-desc{
        width: 50%;
    }
    .skills-section{
        justify-content: space-around;
    }
    .proj_photo,.right-cont{
        display: none;
    }
    .title,#project{
        font-size: 3.2vw;
    }
    .container{
        margin: auto;
    }
    .pro-desc,.pro_desc{
        width: 100%;
        margin:auto;
        font-size: 2.8vw;
    }
    .content ul li{
        line-height: 8vw;
        font-size: 3vw;
    }
    .triangle{
        width: 40vw;
        height: 70vw;
    }
    #desc{
        margin-top: 16%;
        width:3vw ;
    }
    #res{
        padding: 9px 18px;
    }
    .line{
        display: none;
    }
    .about,.work-experience,.projects,div.contact{
        width: 80%;
        margin: auto;
    }
    div.contact{
        margin-top: 5%;
    }
    .mail{
        font-size: 2.8vw;
    }
    
    
}
@media (min-width: 600px) and (max-width: 740px){
    .menu li{
        padding:15px 13px;
        font-size: 13px;  
    }
    
}

